@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, synthwave, cyberpunk, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1af4e5;
  --color-secondary: #543685;
}

.btn-primary {
  @apply bg-gradient-to-r from-[#4d8149] to-[#467470] border-none text-white
}

.btn-primary:hover {
  @apply opacity-80
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}