@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default, synthwave, cyberpunk, light;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #7C3AED;
  --color-secondary: #90a1b9;
  --color-accent: #0f172b;
  --color-info: #021526;
}

@plugin "daisyui/theme" {
  name: "light";
  /* default: true; */
  --color-primary: #7C3AED;
  --color-secondary: #90a1b9;
  --color-accent: #fafafa;
  --color-info: #ffffff;
}

/* Button custom style  */
/* .btn-primary {
  @apply bg-gradient-to-r from-[#d1d5dc] via-[#99a1af] to-[#6a7282] border-none text-black font-bold shadow-md shadow-[#00000070]
}
.btn-primary:hover {
  @apply opacity-80
} */

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Ticker animation */
@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


/* Card hover effects */
.card-purple-hover {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-purple-hover:hover {
  border-color: var(--primary);
  box-shadow: 0 0 25px rgba(124, 58, 237, 0.4);
  transform: translateY(-8px);
}

/* CTA glow effect */
.cta-glow {
  box-shadow: 0 0 15px rgba(124, 58, 237, 0.4);
  transition: all 0.3s ease;
}

.cta-glow:hover {
  box-shadow: 0 0 30px var(--primary);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Theme transition for all elements */
/* * {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
} */